@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    color: #fff;
    font-weight: bold;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #242424;
}

#root {
    max-width: 1120px;
    margin: 0 auto;
    padding: 20px 50px;
}

button {
    cursor: pointer;
}